@import url(http://fonts.googleapis.com/css?family=Questrial);
@import 'reset';
$font-stack: 'Simplifica', helvetica, arial, sans-serif;
$font-stack-hero: 'Questrial', helvetica, arial, sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transitioning($duration, $property){
  -webkit-transition-duration: $duration + ms; 
  -webkit-transition-property: $property;
  -moz-transition-duration: $duration + ms;
  -moz-transition-property: $property;
  -o-transition-duration: $duration + ms;
  -o-transition-property: $property;
}
@mixin font-face($family, $file, $weight, $style) {
  $filepath: '../fonts/';
  font-family: $family;
  src: url($filepath + $file + '.eot');
  src: url($filepath + $file + '.eot?#iefix') format('embedded-opentype'),
       url($filepath + $file + '.woff') format('woff'),
       url($filepath + $file + '.ttf') format('truetype'),
       url($filepath + $file + '.svg#' + $file ) format('svg');
  font-weight: $weight;
  font-style: $style;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius+px;
     -moz-border-radius: $radius+px;
      -ms-border-radius: $radius+px;
          border-radius: $radius+px;
}
@mixin rotate($value) {
  -ms-transform: rotate($value); /* IE 9 */
  -webkit-transform: rotate($value); /* Chrome, Safari, Opera */
  transform: rotate($value);
}

@keyframes slideenter {
  from {
    top:20px; opacity:0;
    -webkit-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,3deg);
    -ms-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,3deg);
    transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,3deg);
  }
  to {
    top:0px; opacity:1;
    -webkit-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,0deg);
    -ms-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,0deg);
    transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,0deg);
  }
}
@keyframes slideout {
  from { top:0px; opacity:1; }
  to { top:20px; opacity:0; }
}
@-webkit-keyframes slideenter {
  from {
    top:20px; opacity:0;
    -webkit-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,3deg);
    -ms-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,3deg);
    transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,3deg);
  }
  to {
    top:0px; opacity:1;
    -webkit-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,0deg);
    -ms-transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,0deg);
    transform: perspective(400px)
               translate3d(0px,0px,0px)
               scale3d(1,1,1)
               rotate3d(3,0,0,0deg);
  }
}
@-webkit-keyframes slideout {
  from { top:0px; opacity:1; }
  to { top:20px; opacity:0; }
}

@keyframes menuenter {
  from {left:20px; opacity:0;}
  to {left:0px; opacity:1;}
}
@-webkit-keyframes menuenter {
  from {left:20px; opacity:0;}
  to {left:0px; opacity:1;}
}

@font-face { @include font-face('Simplifica', 'SIMPLIFICA-Typeface', 'normal', 'normal'); }
@font-face { @include font-face('Hero', 'Hero', 'normal', 'normal'); }


::selection { background:#333; color:#efefef; }
.expand:hover svg circle {
  @extend .anim;
  r: 13.5;
}

.anim {
  -webkit-transition-duration: 300ms;
  -webkit-transition-property: all;
  -webkit-animation-timing-function: easein;
  -moz-transition-duration: 300ms;
  -moz-transition-property: all;
  -moz-animation-timing-function: easein;
  -o-transition-duration: 300ms;
  -o-transition-property: all;
  -o-animation-timing-function: easein;
}

body::-webkit-scrollbar { display: none; }
body, html { min-height:100%; }
body { overflow:hidden;}
body, textarea, input {
  font: 16.5px/1.7em $font-stack;
  letter-spacing: 1.5px;

  font-smoothing: antialised;
  -webkit-font-smoothing: antialised;
  -moz-font-smoothing: antialised;
  text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
}
svg, img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.hero {
  font: 19px/1.7em $font-stack-hero;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.smler { font-size:85%; }
.fullscreen { height:100%; width:100%; }
.fullobj {
  min-width:100%; width:auto;
  min-height:100%; height:auto;
}
video { @extend .fullscreen; }

.branding {
  width:90.5%; left:9.5%; 
  position:fixed; z-index: 4;
  pointer-events:none;
  
  overflow: hidden;
  img,svg { position:absolute; }
  img {
    min-height: 429px; z-index:2; height:53%;
    @include rotate(-7deg);
    left: 5.3%;
    top: 21%;
  }
  svg {
      height: 100%; width: 100%;
      min-height: 600px; min-width: 1000px;
      left: 0; top: 0;   max-width: 1100px;
  }
}
/*.DRYanimationSlide {
  * > * {
    animation: slideenter 300ms ease-in 800ms forwards;
    -webkit-animation: slideenter 300ms ease-in 800ms forwards;
    top:20px; opacity:0;
  }
  * > *:nth-child(2) {
    -webkit-animation-delay: 850ms;
    animation-delay: 850ms;
  }
  * > *:nth-child(3) {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
  }
}*/

#splash .wrapper {
  > * {
    position:relative;
    top:20px;
    opacity:0;
  }
}
#splash.active .wrapper > svg, #splash.active span {
  -webkit-animation: slideenter 1000ms ease-out forwards;
  animation: slideenter 1000ms ease-out forwards;
}
#splash.active span {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms
}

nav:hover {
  li a {
    -webkit-animation: slideenter 300ms ease-in forwards;
    animation: slideenter 300ms ease-in forwards;
    top:20px; opacity:0;
  }
  li:nth-child(2) a {
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
  }
  li:nth-child(3) a {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  li.active:after {
    left: -70px;
  }
}
nav.hamburger {
  li.active:after {
    left: -47px;
  }
  li.active:before {
    opacity:1; left: 14px; 
  }
}

nav {
  position: fixed;
  top: 50%; left: 0;
  width: 20%; z-index: 10;
  min-width: 150px;

  span {
    @extend .hero;
    letter-spacing:1px;
    margin-right:10px;
  }
  
  li {
    height:32px;
    position:relative;
    padding-left:30px;
    a {
      position: absolute;
      animation: slideout 300ms ease-in forwards;
      -webkit-animation: slideout 300ms ease-in forwards;

      top:20px; opacity:0;
    }
  }
  li:after, li:before { position:absolute; }
  li:before {
    @extend .anim;
    left: 9px; z-index:12; opacity:0;
    width:20px; height:20px;
    content:url('../images/svg/hamburger.svg');
  }
  li:after {
    content:url('../images/activenav.jpg');
    
    z-index:11;
    left: -70px; top: -29px;
    display:block;

    @extend .anim;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    @include rotate(1deg);
  }
  li.active a {
    animation: slideenter 300ms ease-in forwards;
    -webkit-animation: slideenter 300ms ease-in forwards;
  }
  li.active:after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    @include rotate(54deg);
  }
}
.preload { height:0; width:0; overflow:hidden; }
.wrapper {
  top: 50%; left:28%; position:absolute;
  max-width:370px; width:370px;
}
.expand {
  position: absolute !important; overflow:auto;
  top: 40%; left:105%; width: 60% !important;

  * { float:left; @extend .anim; }
  svg { height:40px; }
  span { margin:10px 0 0 10px; text-indent: -10px; opacity: 0; }
  @include border-radius(30);
}
.expand:hover span { opacity:1; text-indent:0px; }
h1 { @extend .hero; }
h1, h2, .hero, label { color:#444; }
h2 {
  @extend .hero;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 1.3em;
}
.controllerbottom {
  background:url('../images/svg/slider-control-bottom.svg') no-repeat scroll 0% 0% / 100% 100% transparent;
  bottom: 0; left: 40%; max-height:29px; min-width: 90px;
  right: initial !important;
  top: initial !important;
  padding: 9px 0px 0 0;
  .currentslide {
    i {
      width: 15px; text-align:right;
      display: inline-block;
    }
    t {
      font-family: $font-stack;
      text-transform:lowercase;
      margin-left: 5px;
    }
  }
  span { }
}

.inception .controller.smler {
  padding: 3px 20px 0 20px !important;
}
.controller li {
  position:relative;
  a { position:absolute; }
}

.slider.extended.active {
  > .controller { display:none; }
}
.slider.active {
  .controller li a {
    animation: menuenter 300ms ease-in forwards;
    -webkit-animation: menuenter 300ms ease-in forwards;

    -webkit-animation-delay: .3s;
    animation-delay: .3s;

    left:20px; opacity:0;
  }
  .controller li:nth-child(2) a {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  .controller li:nth-child(3) a {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .controller li:nth-child(4) a {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
  }
}

.controller {
  //background:url("../images/svg/slider-control-right.svg") no-repeat scroll 0% 0% / 100% 100% transparent;
  position:absolute; z-index:100;
  right:0; top:50%; padding-left:8px;
  font-family: $font-stack-hero;
  text-transform: uppercase;
  span {
    @extend .anim;
    margin: 0 10px; display: block; float: left;
    cursor:pointer; margin-bottom:0px; 
    position: relative;
  }
  span.close { margin-left:15px !important; }
  span.next:hover, span.prev:hover, span.close:hover {
    bottom:3px !important; top:-3px !important;
    opacity:1 !important;
    animation-fill-mode: initial !important;
  }
  ul {
    padding:20px 7px;
    li {
      width:15px; height:22px; margin:5px;
      position:relative;
      background-size:100%;
      a {
        position:absolute;
        @extend .fullscreen; display:block;
        background:url('../images/remote.png');
      }
    }
    li.active {
      width:23px; height:28px; margin:5px 7px 5px 0px;
      a {
        background:url('../images/activeremote.png');
      }
    }
  }
}


content {
  .slider.bottom .controller {
    @extend .controllerbottom;
    ul { display:none; }
  }

  height:100%; overflow-y:scroll;
  .fullscreen { z-index:3; position:absolute; }
  
  #splash {
    svg { width:220px; height:auto; margin-bottom:20px; }
    .wrapper {
      top: 35%; width: 220px; left:37%;
      text-align: center;
    }
  }
  #blog.extended {
    > .slides { opacity:0.08; }
    .loader { display:block; opacity:1; }
  }
  #blog.active > .controller {
    div > span {
      -webkit-animation: slideenter 300ms ease-in forwards;
      animation: slideenter 300ms ease-in forwards;
      top:20px; opacity:0;
    }
    div > span:nth-child(2) {
      -webkit-animation-delay: .1s;
      animation-delay: .1s;
    }
    div > span:nth-child(3) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    div > span:nth-child(3) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
    }
  }
  #blog {
    .loader {
      position:absolute; top:50%; left:45%;
      display:none; opacity:0;
      height:50px; width:75px; z-index:2;
      text-align:center;
      svg { width:50px; height:50px; }
    }
    .slides > div {
      padding-left: 20%; width: 80%;
    }
    .fullscreen img, .fullscreen video  {
      @extend .fullobj;
    }
    .post:hover .thumb span { opacity:1; margin: 40% auto; }
    .post {
      float:left;
      width:210px; height:280px;
      text-align:center;
      margin: 0 20px 40px 0;
      position: relative;
      top: 45%;
      
      .thumb {
        width:180px; height:200px;
        background:grey;
        overflow:hidden;
        position:relative;
        margin:0 auto 20px auto;
        svg {
          z-index: 10;
          width: 182px;
          height: 202px;
          margin: -1px;
        }
        span {
          @extend .anim;
          z-index: 5;
          display: block;
          position: relative;
          margin: 45% auto;
          opacity:0;
          color: white;
        }
        svg, img {
          position:absolute;
          left:0; top:0;
        }
        img {
          @extend .fullobj;
        }
      }
      a { font-size:15px; }
    }
  }
  
  .fullscreen .controller {
    @extend .controllerbottom;
  }
  #projects {
    margin-left:1px;
    

    .slides {
      .slider {

        img { @extend .fullscreen; }
        .controller {
          @extend .controllerbottom;
          li { float:left; }
          ul { padding: 5px 20px 2px 20px; }
        }
      }
      .fullscreen {
        position:relative;
      }
    }
    
  }
  
  #contact {
    .thanks {
      margin-top: 15px;
      h2 { font-size: 16.5px; }
    }

    .expand { top:20%; }
    label { 
      font-family: $font-stack-hero; text-transform: uppercase;
      float: left; width: 110px;
    }
    span { margin-right:25px; }
    input,textarea {
      padding: 0; outline:none; width: 255px;
      background: none; border:none; 
    }
    textarea { height:130px; resize: none; }
    .wrapper div {
      margin-bottom:5px;
    }

    > div > div:nth-child(3) {
      height:170px; width:100%;
    }
  }
  > div {
    overflow: hidden;
    width: 90.5%; left:9.5%;
    height:100%; position:relative; display:block;
    .navigate { bottom:20px !important; top:initial; }

    .slides {
      height:100%;
      position: relative; overflow: hidden;
      > div {
        @extend .fullscreen;
        position:absolute;
        display:none;
      }
      > div.active { 
        animation: slideenter 400ms ease-in;
        -webkit-animation: slideenter 400ms ease-in;

        display:block;
        z-index:1;
      }
      > div.standby { 
        z-index:0;
      }
      .slides .standby {
        display:block;
      }

    }

  }
  
}


