@charset "utf-8";
/* CSS Document */


/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/* RESET */

@font-face {
	font-family: 'Strangelove';
	src: url('../fonts/strangelove-next-narrow-webfont.eot');
	src: url('../fonts/strangelove-next-narrow-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/strangelove-next-narrow-webfont.woff') format('woff'),
			 url('../fonts/strangelove-next-narrow-webfont.ttf') format('truetype'),
			 url('../fonts/strangelove-next-narrow-webfont.svg#strangelove-next-narrow-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
content, nav { display:block; }
body {
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 10.5px;
	position: relative;
	height: 100%;
	/*width: 100%;*/
	background: url('../images/bg.jpg') 0 50% repeat fixed;
}
.wrapper {
	height: 1px; width:100%;
	position: fixed;
	z-index: 100;
}
.wrapper.top { top:0; }
.wrapper.bottom { bottom:0; }
a { text-decoration: underline; color:inherit; }
p { line-height: 1.4; margin-bottom: 8px; }
h1 {
	font-family: 'Strangelove';
	font-weight:normal;
	font-size: 36px;
	text-shadow: 1px 1px 0px white;
	line-height: 0.8;
	margin-bottom:0px;
	margin-top: 20px;
}

input[type="text"], textarea {
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: solid 1px black;
	padding: 0 6px;
	height: 24px;
	background:none;
	color:black;
	margin-bottom: 3px;
	width: 220px;
	font-size: 10.5px;
}
textarea { height: 100px; }

/* MODERNJIZZZRZ */

.touch nav ul { display:none; }
.touch content { overflow: scroll; }
.touch content ul.cfix { position: relative; }
.touch .description.dark p { text-shadow: none; }


body::-webkit-scrollbar { 
    display: none; 
}
body {
	overflow:-moz-scrollbars-none;
}

nav:hover:-webkit-scrollbar { display:block; }

content li { list-style:none; }
content li { margin-right:5px; }
content { 
	position: relative;
	z-index: 100;
	/*overflow-x: hidden;
	overflow-y: hidden;*/
	height:100%;
	/*width:100%;*/
	top: 0px; left: 0px;
	z-index: 1;
}

html, body { /*width:100%;*/ height:100%; }
body { background: url('../images/bg.jpg') 0 50% repeat fixed; }

nav {
	font-family: 'Strangelove';
	color:white;
	background: url('../images/panel.jpg') repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 8px 0px;
	text-shadow: 1px 1px 2px black;
	z-index: 1000;
}
nav ul {
	font-size: 24px;
	letter-spacing: 2px;
	float:right;
	list-style:none;
	margin-top: 19px;
}
nav ul li { float:left; margin-left: 17px; cursor:pointer; }
nav ul li a { text-decoration: none; }
nav ul li:hover { text-decoration: underline; }

.blog-switch {
	height:100%;
	overflow:hidden;
	position: relative;
}
.blog-switch .position {
	position: absolute;	
}

/*content div { margin: 0 7px 7px 0; padding: 1px; } */
content ul.cfix {
	height:100%;
	/*position: absolute;
	left: 0px;*/
	width: 4750px; 
	/*padding:80px 0;*/
}
content ul.cfix > li {
	padding:1px;
	width: 310px;
	float:left;
	position: relative;
	height: 395px;
	margin-top: 80px;
}
content ul.cfix > li > div { background: #f2f1f3; border: solid 11px #f2f1f3; margin-right:0; }
content ul.cfix > li > div.fb-like, content ul.cfix > li > div.tw-like { 
	background: none;
	border: none;
	z-index: 100;
	position: absolute;
	display: inline-block;
}
content ul.cfix > li > div.fb-like {
	right: 310px;
	top: 250px;
}
content ul.cfix > li > div.tw-like {
	right: 251px;
	top: 249px;	
}
.moneyshtcontainer-two {
	width:900px;
	position:relative;	
}
.moneyshtcontainer-two div.fb-like, .moneyshtcontainer-two div.tw-like { 
	background: none;
	border: none;
	z-index: 100;
	position: absolute;
	display: inline-block;
}
.moneyshtcontainer-two div.fb-like {
	right: 310px;
	top: 310px;
}
.moneyshtcontainer-two div.tw-like {
	right: 251px;
	top: 309px;	
}
content ul.cfix > li > div.expanded { overflow:visible; }
content ul.cfix > li > div.top { position: absolute; top:0; }
content ul.cfix > li > div.bottom { position: absolute; bottom:0; }

content ul.cfix .single { width: 288px; height: 168px; box-shadow: 0px 0px 16px -6px black; margin-bottom: 9px; }
content ul.cfix .double { height: 367px; border: solid 11px #f2f1f3; background: #f2f1f3; box-shadow: 0px 0px 16px -6px black; }

/** COLOR CODE **/
content .big.cfix .blog, content .big.cfix .contact { background:#b0b0b1; color:white; }
content .big.cfix .blog:before { 
	content: url('../images/rss.png');
	position: absolute;
	z-index: 0;
	bottom: 30px;
	right: 25px;
}
content .big.cfix .blog p { margin-bottom: 15px; }
content .big.cfix .blog p.title { margin-bottom: 0; }
content .big.cfix .tweet { background: #eae2c1; }
content .big.cfix .tweet:before {
	content: url('../images/tweet.png');
	position: absolute;
	z-index: 0;
	bottom: 15px;
	right: -3px;
}
content .big.cfix .white, content .white h1  { text-shadow: 1px 1px #555; }
content .big.cfix .white.noshad, content .white.noshad h1, .noshad, .description.dark.noshad p { text-shadow: none; }
content .big.cfix .whatido { background: #322c28; color:white; }

.vignette {
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: 0.3;
}
.vignette div { width: 198px ; height: 198px; position: absolute; }
.vignette .top { top:0; }
.vignette .bottom { bottom:67px; }
.vignette .left { left:0; }
.vignette .right { right:0; }
.vignette .top.left { background:url('../images/top-left.png'); }
.vignette .top.right { background:url('../images/top-right.png'); }
.vignette .bottom.left { background:url('../images/bottom-left.png'); }
.vignette .bottom.right { background:url('../images/bottom-right.png'); }

content .single h1, content .single p, content .double h1, content .double p  { margin-left: 25px; margin-right: 30px; }

/** SLY **/
div.sly { height: 440px; }

.pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.pages li { display: inline-block; width: 11px; height: 11px; margin: 0 2px; text-indent: -999px; background: #fff; border-radius: 10px; cursor: pointer;
	overflow: hidden; border: 1px solid #aaa;
}
.pages li:hover { background: #eee; }
.pages li.active { background: #999; border-color: #888; box-shadow: inset 0 0 0 2px #eee; }

/** CSS3 **/

.block { width:288px; height:168px; float:left; margin:0 0px 0 0; overflow:hidden; }
.last { margin-right:0; }
.zoom {
    display:block;
    position:relative;
    overflow:hidden;
    background: url('../images/loader.gif') no-repeat center;
}
/*.zoom img { display:none} */
.block.blurb { position: relative; }
.block.blurb img { position: absolute; }
.block.blurb a { height: 100%; cursor:pointer; }
.block.blurb .extra { 
	position: absolute;
	bottom: 0px;
	width: 288px;
	padding: 4px 0;
	background: url('../images/extra.png') repeat-x;
}
.block.blurb .extra .date {
	background: white;
	border-radius: 4px;
	padding: 6px 10px;
	margin: 0px 5px;
}
.extra * { float: right; margin-left: 5px; }
.zoomOverlay {
	width:288px; height:167px; 
	position: absolute;
	top:0; left:0;
	bottom:0; right:0;
	display:none;
	background-repeat:no-repeat;
	background-position:center;
	background-image: url('../images/bg-overlay.png');
	/*background: rgba( 233, 224, 187, 0.85);*/
	color:white;
	text-shadow:none;
}
.zoomOverlay:after {
	content:url('../images/zoom2.png');
	position: absolute;
	bottom: 4px; right:4px;
}
.zoomOverlay h1 { text-shadow:none; margin-top: 40px; }

.popupbox {
	width: auto;
	height: auto;
	display: table;
	max-width: 780px;
	margin: 90px auto 20px auto;
	padding: 10px 10px 35px 10px;
	background: white url('../images/contactbg.jpg') repeat-x;
	background-position: bottom left;
	position:relative;
}
.popupbox img { max-width: 760px; width: auto; height:auto; box-shadow:0px 10px 28px -10px #555; margin-bottom:20px; }
.popupbox p { margin-left:20px; }

/** CSS3 **/
.icos {
	position: relative;
	background: black;
	width: 20px;
	padding: 10px 12px 10px 5px;
	right: -49px;
	top: 0px;
	cursor: pointer;
	float: right;
	margin-left: -37px;
	z-index: 10;
	color: white;
	text-align: center;
}
.icos img { margin-bottom:6px; }
.icos .date {
	font-family: 'Strangelove';
	font-size: 50px;
	margin-bottom: -25px;
	display: block;
}
.tutorial .icos, .popupbox .icos {
	right: -47px;
	padding-bottom: 7px;
}

.description p { margin-top: 22px; }
.description.dark p { color:white; text-shadow: 0px 0px 43px black; }

.description {
	padding:1px;
	background-position: 1px 1px !important;
	background-repeat: no-repeat !important;
	height: 363px;
}
.clear {
	clear: both;
	display:block;
}

/* one fucking size for the slider plox */

.jq-slider, .slides_container, .slide {
	width: 423px;
	height: 363px;	
}

.jq-slider {
	float: right;
	margin-left: 20px;
	background: url('../images/loader.gif') no-repeat center;
}
.jq-slider .pagination {
	position: absolute;
	bottom: 10px; left: 25px;
}
.jq-slider .pagination li {
	text-indent: -9999px; overflow:hidden;
	width:10px; height:10px;
	background: #CCC;
	float:left; margin: 0 2px 0;
	border-radius: 8px;
}
.jq-slider .pagination li a {
	display:block; height:10px;
}
.jq-slider .pagination li.current { background: #000; }
.dark .jq-slider .pagination li.current { background: #444; }

.socialico {
	margin-left:25px;	
}
.socialico li { float:left; margin-right:4px; }
.conoverlay {
	height: 100%;
	display:none;
	position: fixed;
	width: 100%;
	bottom: 67px;
	z-index: 1010;
	background: rgba(0, 0, 0, 0.8);
	overflow-y: auto;
	overflow-x: hidden;
}
.contactbtn.badge {
	margin-top: 30px;
    position: absolute;
    right: 200px;
    z-index: 99;	
}
.moneyshtcontainer-two .contactbtn.badge {
	margin-top: 90px;	
}
.tutorial, .contactnow {
	background: white url('../images/contactbg.jpg') repeat-x;
	background-position: left bottom;	
}
.contactnow {
	position: absolute;
	bottom: 0; right: 25px;
	padding: 0px 15px 15px 15px;
	width: 235px; height: 300px;
	border-top: 25px solid #545454;
}
.tutorial {
	width: 580px; height: 370px;
	padding:10px; position:relative;
	margin: 145px auto;
}
.tutorial h1, .tutorial p {
	margin-left:25px;	
}
content .big.cfix .blog p.blogtitle {
	text-transform: uppercase;
	margin-bottom: 0;
}
content .big.cfix .blog .excerpt p { margin-bottom: 0; }
content ul.cfix > li.moneyshtcontainer {
	position:relative;
	width: 900px;
}
.moneyshtcontainer-two {
	position:relative;
	width: 900px;
	z-index:100;
}
content ul.cfix > li.moneyshtcontainer img.moneyshot,
.moneyshtcontainer-two img.moneyshot {
	position: absolute;
	right: 0px;
	top: -80px;
	height: 100vh; 
}
.blog content ul.cfix > li.moneyshtcontainer img.moneyshot {
	top: -80px;
}
.panning {
	border: none; margin-bottom: -1px;
	height:242px;
	overflow:hidden;
	position: relative;
}
.panning img {
	position: absolute; top:0;	
}
.mouseani {
	position: absolute;
	bottom: 5px; right: 25px;	
}

/* twitter widget pro **/

.tweet .twitterwidget-title, .tweet .twitter-avatar, .tweet .time-meta, .tweet .follow-button, .tweet .range-link, .tweet .from-meta  { display:none; }
.tweet .entry-content, .tweet .intent-meta {
	margin: 0 30px 5px 25px;
	display: block;
}
.tweet .intent-meta a { margin-right: 5px; }

/* contact form */

#cntctfrm_contact_name, #cntctfrm_contact_email {
	margin-bottom: 7px;
}

/* hover effect */
.hover-eff img {
	position: absolute;
	left: 0; top: 0;	
}
.hover-eff img.grey { z-index: 5; }

.subnav li { 
	height:31px; width: 6px;
	color: white;
	font-family: 'Strangelove', Tahoma, Verdana, sans-serif;
	font-weight: bold;
	overflow: hidden;
	font-size: 16px;
	letter-spacing: .1em;
	margin-right: 9px;
	margin-bottom: 9px;
	float:left;
	line-height: 2.3;
	padding: 0 13px;
	position: relative;
	
	box-shadow: 0px 0px 16px -6px black;
}
.subnav li a {
	text-decoration: none;	
}
.csseffect,
.gmaps .hoverhide,
.subnav li {
	-webkit-transition-duration: 300ms;
	-webkit-transition-property: width;
	-moz-transition-duration: 300ms;
	-moz-transition-property: width;
	-o-transition-duration: 300ms;
	-o-transition-property: width;
}
.subnav {
	position: absolute;
	left: 1030px; top: 478px;
	height:31px;
	width: auto;
	z-index: 100;
}
.subnav a.active li,
.subnav a.nav-default li,
.subnav li:hover,
.subnav a.active li.back:hover {
	width:auto;
}
.subnav li:before {
	content: url('../images/sm-ico_03.png');
	margin: 2px 4px 0 -5px;
	float: left; 
}
.subnav a.active li.back, .subnav a.nav-default li.back { width: 6px; }
.subnav li.back { background: #f2f1f3; color:black; -webkit-font-smoothing: antialiased; }
.subnav li.back:before { content:url('../images/sm-ico_03.png'); }
.subnav li.intro,
.subnav li.prevpost { background: #b0b0b1; }
.subnav li.intro:before { content:url('../images/sm-ico_05.png'); } 
.subnav li.freelance,
.subnav li.nextpost { background: #322c28; }
.subnav li.freelance:before { content:url('../images/sm-ico_07.png'); }
.subnav li.recent { background: black; }
.subnav li.recent:before { content:url('../images/sm-ico_05.png'); }


.subnav li.prevpost:before { content:url('../images/prevpost.png'); }
.subnav li.nextpost:before { content:url('../images/nextpost.png'); }

/** google maps **/
#map_canvas{
    width: 600px;
    height:367px;
}
.gmaps:hover .hoverhide { width:0px;  }
.gmaps .hoverhide {
	overflow:hidden;
	position: absolute;
	left:12px; top:12px;
	width: 230px; height: 365px;
	padding: 1px;
	background:#79716f;
	color:white;
	z-index: 1;
}

.conoverlay .search {
	height: 100%;
}
.conoverlay .search > div { padding: 160px 30px 30px 30px; }
.conoverlay .search h1 {
	color:white;
	text-shadow: 1px 1px 0px black;
}
.conoverlay .search input[type="text"] {
	border-bottom: 1px solid white;
	color: white;
	text-align: left;
	font-size: 17px;
	height: 40px;
	width: 90%;
	margin-top: -44px;
	padding-left: 120px;
	position:relative;
}
.conoverlay .search .searchclose {
	position: absolute;
	right: 33px; top: 180px; 
	z-index: 300;
	cursor:pointer;
}
input:focus {
    outline-width: 0;
	outline: none;
}
.sresult #content {
	color: #ddd;
}
.sresult #content h2 {
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: 500;
	letter-spacing: 1px;
}
.sresult h3 {
	margin-bottom: -2px;
}	
.sresult .post, .sresult .page, .sresult .attachment {
	margin-bottom: 30px;
}
.sresult small {
	font-style: italic;	
}
.sresult .post strong {
	background: rgb(243, 243, 197);
	color: black;	
}
.sresult .attachment-thumbnail {
	float: left;
	margin-right: 15px;
	clear: left;
	width: 65px;
	height: auto;
}